.firstColor {
  background-color: rgba(191, 90, 117, 0.4);
}

.secondColor {
  background-color: rgba(74, 91, 140, 0.4);
}

.thirdColor {
  background-color: rgba(7, 38, 24, 0.4);
}

.fourthColor {
  background-color: rgba(85, 115, 56, 0.4);
}

.fifthColor {
  background-color: rgba(242, 106, 75, 0.4);
}
