.itemContainer {
  display: inline-flex;
  border-radius: 10px;
  padding: 1rem;
  height: 200px;
  min-width: 180px;
  max-width: 200px;
  cursor: pointer;
}

.note {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
